:root {
    --black: #050609;
    --white: #ffffff;
    --darkgray: #747578;
    --gray: #d2d2d2;
    --lightgray: #dae2df;
}



.index-body {
    background-image: linear-gradient(rgba(0, 0, 0, 65%), rgba(0, 0, 0, 65%)), url(/img/achtergrond.jpg);
    background-size: cover;
    

}

.navbar {
    background-color: var(--lightgray);
    font-family: "Merriweather", serif;
}

.btn {
    background-color: var(--darkgray);
    border-color: var(--darkgray);
}